.header {
  padding-top: 31px;
  font-family: $f-LB;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 31px;
  }

  &__nav {
    margin-right: auto;
  }

  &__list {
    display: flex;
    color: $black;
  }

  &__item:not(:last-child) {
    margin-right: 31px;
  }

  &__btn {
    padding: 11px 35px;
    color: $semi-black;
    border: 2px solid $semi-black;
    border-radius: 10px;
  }

  &__right {
    display: flex;
  }

  &__search {
    display: flex;
    position: relative;
  }

  &__search-button {
    margin-right: 21px;

    &--none {
      display: none;
    }
  }

  &__form {
    position: relative;
    margin-right: 21px;
  }

  &__input {
    padding: 11px 45px 11px 20px;
    color: $semi-black;
    border: 2px solid $semi-black;
    border-radius: 10px;
    font-family: $f-OS;
    font-size: 20px;
    font-weight: 400;
  }

  &__search-btn {
    position: absolute;
    top: 9px;
    right: 15px;
  }
}
