.tags {
  padding-top: 194px;
  margin-bottom: 155px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    margin-bottom: 60px;
    position: relative;
  }

  &__imput {
    display: block;
    width: 700px;
    padding: 20px 70px 20px 23px;
    color: $semi-black;
    border: 2px solid $semi-black;
    border-radius: 25px;
    font-family: $f-OS;
    font-size: 20px;
    font-weight: 400;
  }

  &__btn {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__list {
    max-width: 1220px;
    font-family: $f-LB;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;

    &:first-child {
      padding-left: 80px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    padding: 12px 20px;
    border: 1px solid $black;
    border-radius: 50px;
  }
}

.search-result {

  &__form {

  }

  &__wrapper {
    padding-top: 193px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 117px;

  }
}


.result {
  padding-top: 57px;

  &__item {
    display: flex;
    margin-bottom: 60px;
  }

  &__img {
    margin-right: 37px;
  }

  &__article {
    max-width: 540px;
  }
}








